body {
    margin: 2em;
}

/* head area */
.wrapper-head {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1em;
    margin-top: 10px;
    padding: 20px 105px;
}

.one {
    justify-self: center;
    place-content: center;
}

.one h3 {
    color: black;
}

.one h3 span {
    color: palevioletred;
}

.two {
    display: grid;
    place-content: center;
    /* text-align: center !important;   */
    grid-template-columns: repeat(4 , auto );
    gap: 28px;
    position: relative;
}

/* .two p {
 padding-left: 20px;
} */

.two p .fa{
    padding-left: 3.7px;
    font-size: .6em;
    position: absolute;
    top: 7.5px;
   }

.three {
    justify-self: center;
    margin: 0;
    place-content: center;
    border: 1px solid palevioletred;
    border-radius: 1.2rem;
    padding: .5em !important; 
}

.three a {
  display: "";
  color: palevioletred;
  text-decoration: none;
}

.three a:hover {
    color: palevioletred;
    text-decoration: none;
}


/* body area */
.wrapper-body {
    display: grid;
    grid-template-columns:  auto auto;
    padding-top: 70px;
    align-self: flex-start;
    margin-bottom: 100px;
}

.f-half  {
display: grid;
justify-self: end;
align-self: start;


}

.s-half {
/* display: grid; */
margin-top: 85px;
/* justify-self: start; */
}

.s-half h1 {
    font-size: 4em;
    color: black;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 62px;
}
.s-half p {
    font-size: 1em;
    color: #838282;
    font-weight: normal;
    line-height: 8px;
}

.s-half button {
    font-size: 1em;
    color: #333;
    font-weight: normal;
    background: palevioletred;
    border: palevioletred;
    color: #fff;
    border-radius: 20px;
    padding: 7px 22px 8px;
}
/* the feeeeeet */

.footer {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.middle {
    justify-self: end;
}

.middle p {
    font-size: 10px;
    color: #838282;
}

.middle p .fa {
    font-size: 12px;
}

.end {
    justify-self: center;
}

.end a i{
    border-radius: 1px;
}